Repository bytewax/bytewax: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, vermin, ruff, mypy, cbfmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: ruff-format
        name: "format Python"
        language: system
        types: ["python"]
        entry: "hatch fmt --formatter"
      - id: vermin
        name: "check compatible with Python 3.8"
        language: system
        types: ["python"]
        entry: "hatch run lint:vermin"
      - id: ruff
        name: "lint Python"
        language: system
        types: ["python"]
        entry: "hatch fmt --linter"
      - id: mypy
        name: "typecheck Python"
        language: system
        types: ["python"]
        entry: "hatch run lint:mypy"
      - id: cbfmt
        name: "format Markdown code blocks"
        language: system
        types: ["markdown"]
        entry: "hatch run lint:cbfmt -w"
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: "format Rust"
      - id: clippy
        name: "lint Rust"

Fixes mypy errors in stubgen
  stubgen.py
Due: ruff-format, vermin, ruff, mypy

Fixes more mypy errors; although `op.output` is hard to get right
  pysrc/bytewax/inputs.py
  pysrc/bytewax/outputs.py
  pysrc/bytewax/redis/sinks.py
  pytests/interval/test_interval.py
  pytests/interval/test_join_interval.py
  pytests/ordering/test_ordering.py
  pytests/redis/test_redis.py
  pytests/rolling/test_rolling.py
  pytests/select_timerange/test_select_timerange.py
Due: ruff-format, vermin, ruff, mypy

Build lockfiles need to include project deps; also we don't need lib lock files, they are no longer used
  justfile
  requirements/build-py3.10.txt
  requirements/build-py3.11.txt
  requirements/build-py3.12.txt
  requirements/build-py3.8.txt
  requirements/build-py3.9.txt
  requirements/dev.txt
  requirements/lib-py3.10.txt
  requirements/lib-py3.11.txt
  requirements/lib-py3.12.txt
  requirements/lib-py3.8.txt
  requirements/lib-py3.9.txt
Due: none

Update README.md
  README.md
Due: cbfmt

Technical Architecture Overview Doc
  docs/assets/arch-diagram.svg
  docs/guide/contributing/architecture.md
Due: cbfmt

Xref anchor
  docs/guide/concepts/dataflow-programming.md
Due: cbfmt

Adding bookworm to release docker images
  .github/workflows/CD.yml
  Dockerfile.release
  docs/guide/deployment/container.md
Due: cbfmt

Fix Kafka source hanging when oauth_cb is configured
  pysrc/bytewax/connectors/kafka/__init__.py
Due: ruff-format, vermin, ruff, mypy

Change 'Missing Values' example email
  docs/guide/concepts/joins.md
Due: cbfmt

[docs] Fix missing markdown fencing in Deployment Overview
  docs/guide/deployment/overview.md
Due: cbfmt

Minor orderbook example fixes
  docs/tutorials/orderbook-guide/index.md
  docs/tutorials/orderbook-guide/orderbook_dataflow.py
  examples/orderbook.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

update timely version; fix incompatible calls
  Cargo.lock
  Cargo.toml
  pyproject.toml
  rust-toolchain.toml
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/recovery.rs
  src/run.rs
  src/timely.rs
Due: none

Use vermin 1.7.0
  requirements/dev.txt
Due: none

refresh pyo3 and bytewax for 0220 release
  Cargo.lock
  Cargo.toml
  Dockerfile
  src/dataflow.rs
  src/errors.rs
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/pyo3_extensions.rs
  src/recovery.rs
  src/run.rs
  src/webserver/mod.rs
Due: none

Upgrade PyO3 0.21.1 → 0.22 for Python 3.13 support
  Cargo.lock
  Cargo.toml
  pyproject.toml
  src/dataflow.rs
  src/inputs.rs
  src/operators.rs
  src/pyo3_extensions.rs
  src/recovery.rs
  src/tracing/mod.rs
Due: none

Upgrade PyO3 0.22 → 0.25 for Python 3.14 support
  Cargo.lock
  Cargo.toml
  pyproject.toml
  src/dataflow.rs
  src/errors.rs
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/pyo3_extensions.rs
  src/recovery.rs
  src/run.rs
  src/webserver/mod.rs
Due: none

Add Python 3.13 and 3.14 to CI/CD pipelines
  .github/workflows/CD.yml
  .github/workflows/CI.yml
  Dockerfile.release
  justfile
  pyproject.toml
  requirements/build-py3.13.txt
  requirements/build-py3.14.txt
  requirements/lib-py3.13.txt
  requirements/lib-py3.14.txt
Due: none

Make CI/CD self-contained for fork
  .github/workflows/CD.yml
  .github/workflows/CI.yml
Due: none

Add Rust toolchain fallback install for act compatibility
  .github/workflows/CI.yml
Due: none

Fix GIL clone panic by wrapping TdPyAny in Arc<PyObject>
  src/pyo3_extensions.rs
  src/run.rs
Due: none

Fix CI for Python 3.14 and Ubuntu 22.04
  .github/workflows/CI.yml
Due: none

Replace setup-python with astral-sh/setup-uv@v7
  .github/workflows/CI.yml
  .github/workflows/benches.yml
Due: none

Disable Kafka topic auto-creation in CI
  .github/workflows/CI.yml
Due: none

Switch CI to self-hosted Linux x86_64 runners
  .github/workflows/CI.yml
  .github/workflows/benches.yml
Due: none

Temporarily add branch to push trigger for CI testing
  .github/workflows/CI.yml
Due: none

Fix self-hosted runner compatibility issues
  .github/workflows/CI.yml
Due: none

Fix bare self-hosted runner: add system deps, fix toolchain
  .github/workflows/CI.yml
Due: none

Dockerize linux builds: let maturin-action use containers
  .github/workflows/CI.yml
Due: none

Run repo-checks in Docker container, fix docker socket permission
  .github/workflows/CI.yml
Due: none

Fix container workspace permission and git safe.directory issues
  .github/workflows/CI.yml
Due: none

Add Docker pre-pull and caching to speed up CI
  .github/workflows/CI.yml
Due: none

Run pre-commit before Rust compilation for fast failure
  .github/workflows/CI.yml
Due: none

Fix cargo fmt and use buildpack-deps for repo-checks container
  .github/workflows/CI.yml
  src/dataflow.rs
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/pyo3_extensions.rs
  src/recovery.rs
  src/run.rs
Due: none

Fix Python formatting (ruff format) for pre-commit compliance
  docs/conf.py
  examples/anomaly_detector.py
  pysrc/bytewax/connectors/files.py
  pysrc/bytewax/connectors/kafka/__init__.py
Due: ruff-format, vermin, ruff, mypy

Fix LD_LIBRARY_PATH for Rust tests in container
  .github/workflows/CI.yml
Due: none

Add Rust toolchain to linux job for x86_64 native builds
  .github/workflows/CI.yml
Due: none

Set default Rust toolchain for sccache compatibility
  .github/workflows/CI.yml
Due: none

Fix rustup default parsing to strip (active) suffix
  .github/workflows/CI.yml
Due: none

Install gcc and build tools for x86_64 native wheel builds
  .github/workflows/CI.yml
Due: none

Run linux job in Docker container for all targets
  .github/workflows/CI.yml
Due: none
