Repository bytewax/bytewax: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, vermin, ruff, mypy, cbfmt

ruff-format:
  name: format Python
  language: system
  entry: hatch fmt --formatter

vermin:
  name: check compatible with Python 3.8
  language: system
  entry: hatch run lint:vermin

ruff:
  name: lint Python
  language: system
  entry: hatch fmt --linter

mypy:
  name: typecheck Python
  language: system
  entry: hatch run lint:mypy

cbfmt:
  name: format Markdown code blocks
  language: system
  entry: hatch run lint:cbfmt -w

Add /__w symlink for Docker-in-Docker path compatibility
  .github/workflows/CI.yml
Due: none

Force /__w symlink creation, replacing stale Docker-created directory
  .github/workflows/CI.yml
Due: none

Use Docker for root access to create /__w symlink (no sudo)
  .github/workflows/CI.yml
Due: none

Add sudo wrapper for maturin-action post-build permission fix
  .github/workflows/CI.yml
Due: none

Add comprehensive integration test suite (24 tests)
  pyproject.toml
  pytests/test_integration.py
Due: ruff-format, vermin, ruff, mypy

Fix test_import_all_modules and test_kafka_bad_deserializer assertions
  pytests/test_integration.py
Due: ruff-format, vermin, ruff, mypy

Add tag trigger to CI for release support
  .github/workflows/CI.yml
Due: none

Dockerize benchmarks workflow to fix missing cc linker
  .github/workflows/benches.yml
Due: none

Allow setarch in benchmarks container for CodSpeed
  .github/workflows/benches.yml
Due: none

Fix CD wheel download: flatten subdirectories, remove unsupported merge_multiple
  .github/workflows/CD.yml
Due: none

Add Python 3.13/3.14 support, fix 4 issues, add CodSpeed benchmarks (#1)
  .github/workflows/benches.yml
  justfile
  pysrc/bytewax/__init__.py
  pysrc/bytewax/connectors/demo.py
  pysrc/bytewax/connectors/files.py
  pysrc/bytewax/connectors/kafka/__init__.py
  pysrc/bytewax/connectors/kafka/operators.py
  pysrc/bytewax/connectors/stdio.py
  pysrc/bytewax/inputs.py
  pysrc/bytewax/operators/__init__.py
  pysrc/bytewax/operators/windowing.py
  pysrc/bytewax/run.py
  pysrc/bytewax/testing.py
  pysrc/bytewax/visualize.py
  pytests/conftest.py
  pytests/connectors/test_kafka_unit.py
  pytests/operators/test_key_on.py
  pytests/operators/test_stateful_flat_map_batch.py
  pytests/test_version.py
  requirements/build-py3.10.txt
  requirements/build-py3.11.txt
  requirements/build-py3.12.txt
  requirements/build-py3.9.txt
  requirements/build.in
  src/dataflow.rs
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/pyo3_extensions.rs
Due: ruff-format, vermin, ruff, mypy

Fix 6 issues: docs typo, bytewax.__version__, Kafka buffer/auth/config, orderbook
  docs/guide/concepts/joins.md
  docs/tutorials/orderbook-guide/index.md
  docs/tutorials/orderbook-guide/orderbook_dataflow.py
  examples/orderbook.py
  pysrc/bytewax/__init__.py
  pysrc/bytewax/_bytewax.pyi
  pysrc/bytewax/connectors/kafka/__init__.py
  pytests/connectors/test_kafka_unit.py
  pytests/test_version.py
  src/lib.rs
Due: ruff-format, vermin, ruff, mypy, cbfmt

Add CI and benchmark gate jobs for branch protection
  .github/workflows/CI.yml
  .github/workflows/benches.yml
Due: none

Remove silent SIGSEGV tolerance, add segfault detection (#3)
  Cargo.lock
  Cargo.toml
  justfile
  pytests/test_finalization.py
  src/dataflow.rs
  src/errors.rs
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/pyo3_extensions.rs
  src/recovery.rs
  src/run.rs
  src/webserver/mod.rs
  src/worker.rs
Due: ruff-format, vermin, ruff, mypy

Fix 6 issues: docs, Kafka group.id, orderbook, README, multi-worker stall (#2)
  README.md
  docs/guide/concepts/joins.md
  docs/guide/deployment/overview.md
  docs/tutorials/orderbook-guide/index.md
  docs/tutorials/orderbook-guide/orderbook_dataflow.py
  examples/orderbook.py
  pysrc/bytewax/connectors/kafka/__init__.py
  pytests/connectors/test_kafka_unit.py
  src/inputs.rs
Due: ruff-format, vermin, ruff, mypy, cbfmt

Add CI and benchmark gate jobs for branch protection (#4)
  .github/workflows/CI.yml
  .github/workflows/benches.yml
Due: none

Fix benchmark workspace permission errors on self-hosted runners
  .github/workflows/CI.yml
  .github/workflows/benches.yml
Due: none

Enable macOS and Windows CI jobs on GitHub-hosted runners
  .github/workflows/CD.yml
  .github/workflows/CI.yml
Due: none

Enable macOS and Windows CI jobs (#6)
  .github/workflows/CD.yml
  .github/workflows/CI.yml
  justfile
Due: none

Fix benchmark workspace permission errors on self-hosted runners (#5)
  .github/workflows/CD.yml
  .github/workflows/CI.yml
  .github/workflows/benches.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  Dockerfile
  rust-toolchain.toml
  src/pyo3_extensions.rs
Due: none

Update Rust 1.85→1.93.1, PyO3 0.27→0.28, fix all warnings
  Cargo.lock
  Cargo.toml
  rust-toolchain.toml
  src/dataflow.rs
  src/inputs.rs
  src/lib.rs
  src/operators.rs
  src/outputs.rs
  src/pyo3_extensions.rs
  src/recovery.rs
  src/run.rs
  src/timely.rs
  src/tracing/jaeger_tracing.rs
  src/tracing/mod.rs
  src/tracing/otlp_tracing.rs
  src/worker.rs
Due: none

chore: fix pyproject.toml versioning and enable mypy for examples
  examples/1brc.py
  examples/benchmark_windowing.py
  justfile
  pyproject.toml
Due: ruff-format, vermin, ruff, mypy

test: automate kafka tests using testcontainers
  pyproject.toml
  pytests/conftest.py
  pytests/connectors/test_kafka.py
  requirements/dev.in
  requirements/dev.txt
Due: ruff-format, vermin, ruff, mypy

docs: add testing section and kafka test info to contributing guide
  CONTRIBUTING.md
Due: cbfmt

chore: automate cbfmt installation in get-started recipe
  justfile
Due: none

ci: fix platform-specific test dependencies, skip benchmarks in forks, and fix fastavro build
  .github/workflows/benches.yml
  pyproject.toml
  pytests/conftest.py
  requirements/build-py3.10.txt
  requirements/build-py3.11.txt
  requirements/build-py3.12.txt
  requirements/build-py3.8.txt
  requirements/build-py3.9.txt
  requirements/build.in
  requirements/dev.in
  requirements/dev.txt
  requirements/lib-py3.10.txt
  requirements/lib-py3.11.txt
  requirements/lib-py3.12.txt
  requirements/lib-py3.8.txt
  requirements/lib-py3.9.txt
Due: ruff-format, vermin, ruff, mypy

fix: sort imports in conftest.py and add timing tolerance for windows tests
  pytests/conftest.py
  pytests/test_inputs.py
Due: ruff-format, vermin, ruff, mypy

chore: drop python 3.8/3.9 support and add 3.13 support
  .github/workflows/CD.yml
  .github/workflows/CI.yml
  .github/workflows/benches.yml
  Cargo.lock
  Cargo.toml
  justfile
  pyproject.toml
  requirements/build-py3.10.txt
  requirements/build-py3.12.txt
  requirements/build-py3.13.txt
  requirements/build-py3.8.txt
  requirements/build-py3.9.txt
  requirements/dev.txt
  requirements/doc.txt
  requirements/lib-py3.10.txt
  requirements/lib-py3.12.txt
  requirements/lib-py3.13.txt
  requirements/lib-py3.8.txt
  requirements/lib-py3.9.txt
  src/dataflow.rs
Due: none

Set up project for community maintenance
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  MAINTAINERS.md
  README.md
Due: cbfmt

Replace issue auto-labeler with triage + stale workflows
  .github/workflows/issue_automation.yml
  .github/workflows/stale.yml
  .github/workflows/triage.yml
Due: none

Refresh Cargo.lock, bump Rust to 1.86.0, Dockerfile to bookworm
  Cargo.lock
  Dockerfile.release
  rust-toolchain.toml
Due: none

Apply clippy 1.86 lints
  src/pyo3_extensions.rs
  src/recovery.rs
  src/run.rs
  src/timely.rs
  src/tracing/mod.rs
Due: none

Modernize CI/CD tooling and fix two pre-existing parse warnings
  .github/workflows/CD.yml
  .github/workflows/CI.yml
  .github/workflows/benches.yml
  Cargo.toml
  pyproject.toml
Due: none

Remove actions/setup-python everywhere; use uv-managed Python
  .github/workflows/CD.yml
  .github/workflows/CI.yml
  .github/workflows/benches.yml
Due: none

Pin astral-sh/setup-uv to v8.1.0 (action has no rolling v8 tag)
  .github/workflows/CD.yml
  .github/workflows/CI.yml
  .github/workflows/benches.yml
Due: none

Restore actions/setup-python in wheel matrix jobs
  .github/workflows/CI.yml
Due: none

Scope MACOSX_DEPLOYMENT_TARGET to maturin Build wheel step
  .github/workflows/CI.yml
Due: none

Bump fastavro 1.9.4 -> 1.12.2 in build/lib lockfiles
  requirements/build-py3.10.txt
  requirements/build-py3.11.txt
  requirements/build-py3.12.txt
  requirements/build-py3.8.txt
  requirements/build-py3.9.txt
  requirements/lib-py3.10.txt
  requirements/lib-py3.11.txt
  requirements/lib-py3.12.txt
  requirements/lib-py3.8.txt
  requirements/lib-py3.9.txt
Due: none

Skip kafka tests on PR CI; tighten skipif to require non-empty broker
  .github/workflows/CI.yml
  pytests/connectors/test_kafka.py
Due: ruff-format, vermin, ruff, mypy

Self-host Kafka in CI via apache/kafka + ZooKeeper docker compose
  .github/workflows/CI.yml
  examples/utils/docker-compose.yml
  examples/utils/kafka-server.properties
Due: none

Path conditions:
  ruff-format: any of: \.py$
  vermin: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  cbfmt: any of: \.(md|markdown|mdown)$
