Repository bytewax/bytewax: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, vermin, ruff, mypy, cbfmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: ruff-format
        name: "format Python"
        language: system
        types: ["python"]
        entry: "hatch fmt --formatter"
      - id: vermin
        name: "check compatible with Python 3.8"
        language: system
        types: ["python"]
        entry: "hatch run lint:vermin"
      - id: ruff
        name: "lint Python"
        language: system
        types: ["python"]
        entry: "hatch fmt --linter"
      - id: mypy
        name: "typecheck Python"
        language: system
        types: ["python"]
        entry: "hatch run lint:mypy"
      - id: cbfmt
        name: "format Markdown code blocks"
        language: system
        types: ["markdown"]
        entry: "hatch run lint:cbfmt -w"
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: "format Rust"
      - id: clippy
        name: "lint Rust"

Use docker/setup-docker-action on macOS; pin Windows runner to 2022
  .github/workflows/CI.yml
Due: none

Drop kafka tests on macOS; use crazy-max/ghaction-setup-docker on Windows
  .github/workflows/CI.yml
Due: none

Pin Docker to v25.0.5 in crazy-max/ghaction-setup-docker on Windows
  .github/workflows/CI.yml
Due: none

Skip kafka tests on Windows; Linux is the integration runner
  .github/workflows/CI.yml
Due: none

Run kafka tests on every platform/arch via Apache Kafka tarball
  .github/workflows/CI.yml
  .gitignore
  examples/utils/docker-compose.yml
  examples/utils/kafka-server.properties
  scripts/ci-kafka.sh
Due: none

Use uv to bootstrap Python in qemu-armv7 and install minimum deps
  .github/workflows/CI.yml
Due: none

Fix Windows hang in ci-kafka.sh and armv7 wheel-extras quoting
  .github/workflows/CI.yml
  scripts/ci-kafka.sh
Due: none

Fix armv7 qemu: install build deps and pin confluent-kafka 2.3.0
  .github/workflows/CI.yml
Due: none

Skip armv7 Python 3.8 kafka tests (no upstream Python build)
  .github/workflows/CI.yml
Due: none

Override Kafka JVM perf flags on armv7 (armhf openjdk lacks JIT)
  .github/workflows/CI.yml
Due: none

Wait for partition leaders in tmp_topic kafka fixture
  pytests/connectors/test_kafka.py
Due: ruff-format, vermin, ruff, mypy

Surface pytest progress + bound each test with a timeout
  .github/workflows/CI.yml
Due: none

Add Windows kafka diagnostics: netstat, tasklist, broker probe
  .github/workflows/CI.yml
Due: none

Use cmd.exe start /B + Windows .bat scripts on Git Bash
  scripts/ci-kafka.sh
Due: none

Revert Windows cmd.exe spawn; add broker-liveness watcher
  .github/workflows/CI.yml
  scripts/ci-kafka.sh
Due: none

Run kafka + pytest in one Windows shell to keep broker alive
  .github/workflows/CI.yml
Due: none

Fix RTD typo, drop CodSpeed upload, skip S3 round-trip on release
  .github/workflows/CD.yml
  .github/workflows/CI.yml
  .github/workflows/benches.yml
  .github/workflows/build-wheels.yml
  docs/guide/deployment/overview.md
Due: cbfmt

Add Python 3.13/3.14 to CI/CD matrices, lockfiles, and dev tooling
  .github/workflows/CD.yml
  .github/workflows/build-wheels.yml
  justfile
  pyproject.toml
  requirements/build-py3.13.txt
  requirements/build-py3.14.txt
  requirements/lib-py3.13.txt
  requirements/lib-py3.14.txt
Due: none

Upgrade PyO3 0.21 -> 0.25.1 for Python 3.13/3.14 support
  Cargo.lock
  Cargo.toml
  src/dataflow.rs
  src/errors.rs
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/pyo3_extensions.rs
  src/recovery.rs
  src/run.rs
  src/tracing/mod.rs
  src/webserver/mod.rs
Due: none

Verify complete wheel build matrix
  .github/workflows/build-wheels.yml
Due: none

Self-host Kafka in CI via apache/kafka + ZooKeeper docker compose
  examples/utils/docker-compose.yml
  examples/utils/kafka-server.properties
Due: none

Run kafka tests on every platform/arch via Apache Kafka tarball
  .gitignore
  examples/utils/docker-compose.yml
  examples/utils/kafka-server.properties
  scripts/ci-kafka.sh
Due: none

Fix Windows hang in ci-kafka.sh and armv7 wheel-extras quoting
  scripts/ci-kafka.sh
Due: none

Revert Windows cmd.exe spawn; add broker-liveness watcher
  scripts/ci-kafka.sh
Due: none

Run wheel tests against self-hosted Kafka
  .github/workflows/build-wheels.yml
  scripts/ci-kafka.sh
Due: none

Wait for Kafka sink output in runtime test
  pytests/connectors/test_kafka.py
Due: ruff-format, vermin, ruff, mypy

Bound wheel runtime test duration
  .github/workflows/build-wheels.yml
Due: none

Bound Kafka topic metadata lookup
  pysrc/bytewax/connectors/kafka/__init__.py
Due: ruff-format, vermin, ruff, mypy

Use Java paths for Kafka on Windows
  scripts/ci-kafka.sh
Due: none

Stabilize Windows wheel runtime tests
  .github/workflows/build-wheels.yml
  pytests/connectors/test_kafka.py
  pytests/test_inputs.py
Due: ruff-format, vermin, ruff, mypy

Fix TestingSource resume state accounting for PAUSE and triggered ABORT
  CHANGELOG.md
  pysrc/bytewax/testing.py
  pytests/test_testing.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

docs: fix typos and doubled words across guides and tutorials
  README.md
  docs/guide/concepts/dataflow-programming.md
  docs/guide/concepts/recovery.md
  docs/guide/deployment/container.md
  docs/guide/deployment/waxctl-gcp.md
  docs/guide/deployment/waxctl.md
  docs/guide/getting-started/polling-input-example.md
  docs/guide/reference/migration.md
  docs/tutorials/handling-missing-data/index.md
  docs/tutorials/introducing-windowing/index.md
  docs/tutorials/recoverable-shopping-cart/index.md
Due: cbfmt

Upgrade CI Kafka to 3.9.2 with standalone ZooKeeper 3.9.6
  .github/workflows/build-wheels.yml
  .gitignore
  examples/utils/docker-compose.yml
  examples/utils/kafka-server.properties
  scripts/ci-kafka.sh
Due: none

Move CI Kafka to 4.3.1 in KRaft mode
  .github/workflows/build-wheels.yml
  .gitignore
  examples/utils/docker-compose.yml
  examples/utils/kafka-server.properties
  scripts/ci-kafka.sh
Due: none

Drop Confluent Cloud SASL config from Kafka tests
  pytests/connectors/test_kafka.py
Due: ruff-format, vermin, ruff, mypy

Fetch CI Kafka from the Apache CDN and keep test order stable
  pytests/connectors/test_kafka.py
  scripts/ci-kafka.sh
Due: ruff-format, vermin, ruff, mypy

Import Kafka serde without Schema Registry dependencies
  CHANGELOG.md
  pysrc/bytewax/connectors/kafka/serde.py
  pytests/connectors/test_kafka_serde_import.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

Pass log4j2 config to Kafka as a file URI
  scripts/ci-kafka.sh
Due: none
