Repository bytewax/bytewax: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, vermin, ruff, mypy, cbfmt

ruff-format:
  name: format Python
  language: system
  entry: hatch fmt --formatter

vermin:
  name: check compatible with Python 3.8
  language: system
  entry: hatch run lint:vermin

ruff:
  name: lint Python
  language: system
  entry: hatch fmt --linter

mypy:
  name: typecheck Python
  language: system
  entry: hatch run lint:mypy

cbfmt:
  name: format Markdown code blocks
  language: system
  entry: hatch run lint:cbfmt -w

output operator example
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

add redistribute code snippet
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

add stateful_batch operator snippet
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

add stateful_batch code snippet
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

add StatefulBatchLogic example
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

add collect operator code snippet
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

add count_final operator snippet
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

fix collect and count_final samples
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

add enrich_cached code snippet
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

add flat_map_value operator snippet
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

add filter_value snippet
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

add filter_map_value snippet
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

add fold_final snippet
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

add key_on snippet
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

add key_rm example
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

map_value operator snippet
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

max_final snippet
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

min_final sample snippet
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

reduce_final snippet
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

Updating waxctl pro documentation
  docs/guide/deployment/waxctl-aws.md
  docs/guide/deployment/waxctl-gcp.md
  docs/guide/deployment/waxctl.md
Due: cbfmt

incorporate style comment to print statement
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

Adding waxctl pro required note
  docs/guide/deployment/waxctl-aws.md
  docs/guide/deployment/waxctl-gcp.md
  docs/guide/deployment/waxctl.md
Due: cbfmt

add stateless operator tutorial
  docs/tutorials/introducing-operators/data-sample.png
  docs/tutorials/introducing-operators/index.md
  docs/tutorials/introducing-operators/smoothie_orders.csv
  docs/tutorials/introducing-operators/stateless_operators_dataflow.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

add operator tutorial to index
  docs/tutorials/index.md
Due: cbfmt

add resources and sample sections
  docs/tutorials/introducing-operators/index.md
Due: cbfmt

add correct prefix to console printout
  docs/tutorials/introducing-operators/index.md
Due: cbfmt

add thumbnail
  docs/tutorials/introducing-operators/index.md
  docs/tutorials/introducing-operators/smoothie-orders.svg
Due: cbfmt

fix redistribute example, fix errors in input example
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

clean up documentation: stateful operator and redistribute
  docs/tutorials/introducing-operators/stateless_operators_dataflow.py
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

specify random distribution
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

fix line too long
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

retrigger test
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

add collect_window operator example
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

reword collect window example
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

add fold_window example
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

count_window code snippet
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

Clarify event time table
  docs/guide/concepts/windowing.md
Due: cbfmt

Use raise ... from ... in reraise error handlers
  pytests/operators/test_branch.py
  pytests/operators/test_flatten.py
  pytests/operators/test_key_on.py
  pytests/operators/test_stateful_map.py
  pytests/test_execution.py
  pytests/test_inputs.py
  pytests/test_outputs.py
  src/errors.rs
Due: ruff-format, vermin, ruff, mypy

Back to chained exceptions
  pysrc/bytewax/errors.py
  pytests/test_execution.py
  src/errors.rs
  src/run.rs
Due: ruff-format, vermin, ruff, mypy

Format and update table
  docs/guide/concepts/windowing.md
Due: cbfmt

Path conditions:
  ruff-format: any of: \.py$
  vermin: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  cbfmt: any of: \.(md|markdown|mdown)$
