Repository bytewax/bytewax: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, vermin, ruff, mypy, cbfmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: ruff-format
        name: "format Python"
        language: system
        types: ["python"]
        entry: "hatch fmt --formatter"
      - id: vermin
        name: "check compatible with Python 3.8"
        language: system
        types: ["python"]
        entry: "hatch run lint:vermin"
      - id: ruff
        name: "lint Python"
        language: system
        types: ["python"]
        entry: "hatch fmt --linter"
      - id: mypy
        name: "typecheck Python"
        language: system
        types: ["python"]
        entry: "hatch run lint:mypy"
      - id: cbfmt
        name: "format Markdown code blocks"
        language: system
        types: ["markdown"]
        entry: "hatch run lint:cbfmt -w"
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: "format Rust"
      - id: clippy
        name: "lint Rust"

Fixes doctests in joins
  docs/guide/concepts/joins.md
Due: cbfmt

Turns all code blocks into doctests in getting started
  docs/fixtures/wordcount.txt
  docs/guide/getting-started/execution.md
  docs/guide/getting-started/installing.md
  docs/guide/getting-started/join-example.md
  docs/guide/getting-started/polling-input-example.md
  docs/guide/getting-started/recovery-example.md
  docs/guide/getting-started/simple-example.md
  docs/guide/getting-started/wordcount-example.md
Due: cbfmt

Enables doctests in advanced concepts
  docs/guide/advanced-concepts/custom-connectors.md
  docs/guide/advanced-concepts/custom-operators.md
  docs/guide/advanced-concepts/performance.md
Due: cbfmt

cbfmt formats `{testcode}` as Python
  .cbfmt.toml
Due: none

Console formatting on recovery
  docs/guide/concepts/recovery.md
Due: cbfmt

Fixes doctests in collecting windowing example
  docs/guide/getting-started/collecting-windowing-example.md
Due: cbfmt

Fixes doctests in dataflow programming
  docs/guide/concepts/dataflow-programming.md
Due: cbfmt

Add a doctest requirments file for extra deps
  requirements/dev.in
  requirements/dev.txt
  requirements/doctest.in
Due: none

Forgot imports in fixtures docs
  docs/guide/contributing/writing-docs.md
Due: cbfmt

Doctests in docstrings
  docs/guide/contributing/release.md
  docs/guide/deployment/container.md
  docs/guide/deployment/metrics.md
  pysrc/bytewax/_bytewax.pyi
  pysrc/bytewax/connectors/kafka/__init__.py
  pysrc/bytewax/connectors/kafka/operators.py
  pysrc/bytewax/dataflow.py
  pysrc/bytewax/inputs.py
  pysrc/bytewax/operators/__init__.py
  pysrc/bytewax/operators/helpers.py
  src/run.rs
  src/tracing/mod.rs
Due: ruff-format, vermin, ruff, mypy, cbfmt

Re-enables doctests in CI
  .github/workflows/CI.yml
Due: none

Console formatting on workers and parallelization
  docs/guide/concepts/workers-parallelization.md
Due: cbfmt

Doctests in migration
  docs/guide/reference/migration.md
Due: cbfmt

Runs doctests out of `/docs/fixtures` so if you need local files put them there
  docs/guide/contributing/writing-docs.md
  justfile
Due: cbfmt

Fixes doctests in Kafka guide
  docs/guide/concepts/kafka.md
Due: cbfmt

Rename writing documentation doc
  docs/guide/contributing/writing-docs.md
Due: cbfmt

Fix up migration doctests
  docs/guide/reference/migration.md
  pysrc/bytewax/dataflow.py
  pysrc/bytewax/operators/helpers.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

Comment on not needing to install a specific Rust version; just rustup
  docs/guide/contributing/local-development.md
Due: cbfmt

Sorts imports
  pytests/operators/test_enrich_cached.py
Due: ruff-format, vermin, ruff, mypy

Adds tests
  pytests/operators/test_enrich_cached.py
Due: ruff-format, vermin, ruff, mypy

Adds `enrich_cached` operator
  docs/guide/concepts/dataflow-programming.md
  pysrc/bytewax/operators/__init__.py
  pysrc/bytewax/operators/window.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

Swaps so cache arg is first to paralell `stateful_map`
  docs/guide/concepts/dataflow-programming.md
  pysrc/bytewax/operators/__init__.py
  pytests/operators/test_enrich_cached.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

Fix mypy
  pytests/operators/test_enrich_cached.py
Due: ruff-format, vermin, ruff, mypy

Updates changelog
  CHANGELOG.md
Due: cbfmt

Renames `bytewax._encoder` to `bytewax.visualize`
  pyproject.toml
  pysrc/bytewax/visualize.py
  pytests/test_visualize.py
  src/run.rs
Due: ruff-format, vermin, ruff, mypy

Makes `bytewax.visualize` runnable as visualization script
  pysrc/bytewax/run.py
  pysrc/bytewax/testing.py
  pysrc/bytewax/visualize.py
  pytests/test_parse.py
  pytests/test_visualize.py
Due: ruff-format, vermin, ruff, mypy

Docs and changelog
  CHANGELOG.md
  docs/guide/getting-started/debugging.md
  pysrc/bytewax/visualize.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

No extra newline at end of diagram
  pysrc/bytewax/visualize.py
  pytests/test_visualize.py
Due: ruff-format, vermin, ruff, mypy

Extra import
  pysrc/bytewax/testing.py
Due: ruff-format, vermin, ruff, mypy

Xrefs to specifying dataflow on command line
  docs/guide/concepts/workers-parallelization.md
  docs/guide/getting-started/debugging.md
Due: cbfmt

Run Vermin twice, once for lib code 3.8- and once for dev code 3.12-
  justfile
  stubgen.py
  vermin-dev.ini
  vermin-lib.ini
Due: ruff-format, vermin, ruff, mypy

Substitute in the current Bytewax version into docs
  docs/conf.py
  docs/guide/contributing/writing-docs.md
  docs/guide/deployment/container.md
  docs/guide/getting-started/installing.md
  justfile
  requirements/dev.txt
  requirements/doc.in
  requirements/doc.txt
Due: ruff-format, vermin, ruff, mypy, cbfmt

Don't need to nitpick ignore `AvroMessage` anymore
  docs/conf.py
Due: ruff-format, vermin, ruff, mypy

Updates writing docs
  docs/guide/contributing/writing-docs.md
Due: cbfmt

Use RtD env vars to munge version so we know we have a dev version
  docs/conf.py
Due: ruff-format, vermin, ruff, mypy

Captitalize
  README.md
  docs/guide/deployment/container.md
  docs/guide/deployment/metrics.md
Due: cbfmt

Comment on how RtD `latest` has build type `branch`
  docs/conf.py
Due: ruff-format, vermin, ruff, mypy

Rename `bytewax.operators.window` to `bytewax.operators.windowing`
  README.md
  docs/guide/concepts/dataflow-programming.md
  docs/guide/concepts/joins.md
  docs/guide/concepts/windowing.md
  docs/guide/getting-started/collecting-windowing-example.md
  examples/confluent_serde.py
  examples/event_time_processing.py
  examples/redpanda_serde.py
  examples/search_session.py
  examples/wikistream.py
  pysrc/bytewax/operators/__init__.py
  pysrc/bytewax/operators/windowing.py
  pytests/operators/window/test_collect_window.py
  pytests/operators/window/test_count_window.py
  pytests/operators/window/test_event_clock.py
  pytests/operators/window/test_fold_window.py
  pytests/operators/window/test_max_min_window.py
  pytests/operators/window/test_reduce_window.py
  pytests/operators/window/test_session_windower.py
  pytests/operators/window/test_sliding_windower.py
  pytests/operators/window/test_system_clock.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

Fixes xrefs
  docs/guide/concepts/windowing.md
  docs/guide/getting-started/collecting-windowing-example.md
  docs/guide/reference/migration.md
Due: cbfmt
