Repository bytewax/bytewax: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, vermin, ruff, mypy, cbfmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: ruff-format
        name: "format Python"
        language: system
        types: ["python"]
        entry: "hatch fmt --formatter"
      - id: vermin
        name: "check compatible with Python 3.8"
        language: system
        types: ["python"]
        entry: "hatch run lint:vermin"
      - id: ruff
        name: "lint Python"
        language: system
        types: ["python"]
        entry: "hatch fmt --linter"
      - id: mypy
        name: "typecheck Python"
        language: system
        types: ["python"]
        entry: "hatch run lint:mypy"
      - id: cbfmt
        name: "format Markdown code blocks"
        language: system
        types: ["markdown"]
        entry: "hatch run lint:cbfmt -w"
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: "format Rust"
      - id: clippy
        name: "lint Rust"

Banish using frozen dataclasses for performance
  pysrc/bytewax/_utils.py
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

What about even fewer tuples?
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

`key_rm` operator for convenience
  CHANGELOG.md
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

Type checks event clock and session windower tests
  pytests/operators/windowing/test_event_clock.py
  pytests/operators/windowing/test_session_windower.py
Due: ruff-format, vermin, ruff, mypy

Type check and cleanup fold window tests
  pytests/operators/windowing/test_fold_window.py
Due: ruff-format, vermin, ruff, mypy

Type check and cleanup collect window tests
  pytests/operators/windowing/test_collect_window.py
Due: ruff-format, vermin, ruff, mypy

`join` and `join_window` operators now have modes
  CHANGELOG.md
  docs/guide/concepts/joins.md
  pysrc/bytewax/operators/__init__.py
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

Tests
  pytests/operators/test_join.py
  pytests/operators/windowing/test_join_window.py
Due: ruff-format, vermin, ruff, mypy

Try fix types; we gotta actual do a ton more overloads
  pytests/operators/test_join.py
  pytests/operators/windowing/test_join_window.py
Due: ruff-format, vermin, ruff, mypy

A ton more overloads to handle the fact that non-complete joins might have missing data
  pysrc/bytewax/operators/__init__.py
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

Use `Mapping` instead of `Dict` in return type of `join_named` to get proper overloads
  pysrc/bytewax/operators/__init__.py
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

Handle `wait_for_system_duration = timedelta.max` in session windower
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

Removes `join_named` and `join_window_named` because they don't typecheck
  CHANGELOG.md
  docs/guide/concepts/joins.md
  pysrc/bytewax/operators/__init__.py
  pysrc/bytewax/operators/windowing.py
  pytests/operators/test_join.py
  pytests/operators/windowing/test_join_window.py
  pytests/test_dataflow.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

Remove lingering xref to `join_named`
  pysrc/bytewax/dataflow.py
Due: ruff-format, vermin, ruff, mypy

PR Fixes
  pysrc/bytewax/testing.py
  src/recovery.rs
Due: ruff-format, vermin, ruff, mypy

Fix join doctests
  docs/guide/concepts/joins.md
Due: cbfmt

Doc fixups
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

Don't display any `data` values in rendered docs; they aren't actual values from the code
  docs/renderer.py
Due: ruff-format, vermin, ruff, mypy

Add line about we should have type annotations in code
  docs/guide/contributing/writing-docs.md
Due: cbfmt

Update docs/guide/concepts/joins.md
  docs/guide/concepts/joins.md
Due: cbfmt

Trailing whitespace
  docs/guide/concepts/joins.md
Due: cbfmt

init search logs tutorial
  docs/guide/contributing/local-development.md
  docs/index.md
  docs/tutorial/index.md
  docs/tutorial/search-logs/dataflow.py
  docs/tutorial/search-logs/requirements.txt
  docs/tutorial/search-logs/run.sh
  docs/tutorial/search-logs/search-logs-tutorial.md
Due: ruff-format, vermin, ruff, mypy, cbfmt

add references to documentation instead of hard coded class names
  docs/tutorial/search-logs/search-logs-tutorial.md
Due: cbfmt

Update docs/index.md
  docs/index.md
Due: cbfmt

remove xref-resources tag
  docs/tutorial/search-logs/search-logs-tutorial.md
Due: cbfmt

auto generated table of contents
  docs/tutorial/search-logs/search-logs-tutorial.md
Due: cbfmt

remove requirements and run sh files from tutorial
  docs/tutorial/search-logs/requirements.txt
  docs/tutorial/search-logs/run.sh
Due: none

wop -> win import alias
  docs/tutorial/search-logs/dataflow.py
Due: ruff-format, vermin, ruff, mypy

change console output format
  docs/tutorial/search-logs/search-logs-tutorial.md
Due: cbfmt

Update docs/tutorial/search-logs/search-logs-tutorial.md
  docs/tutorial/search-logs/search-logs-tutorial.md
Due: cbfmt

rename files to index.md
  docs/tutorial/index.md
  docs/tutorial/search-logs/index.md
Due: cbfmt

Update docs/tutorial/search-logs/dataflow.py
  docs/tutorial/search-logs/dataflow.py
Due: ruff-format, vermin, ruff, mypy

eventclock and sessionwindower rename
  docs/tutorial/search-logs/dataflow.py
  docs/tutorial/search-logs/index.md
Due: ruff-format, vermin, ruff, mypy, cbfmt

upgrade functionality (windowing)
  docs/tutorial/search-logs/dataflow.py
  docs/tutorial/search-logs/index.md
Due: ruff-format, vermin, ruff, mypy, cbfmt

Adds `enrich_cached` operator
  docs/guide/concepts/dataflow-programming.md
  pysrc/bytewax/operators/__init__.py
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

re initialize tutorial documentation - reference code in markdown from py files
  docs/index.md
  docs/tutorials/index.md
  docs/tutorials/search-logs/dataflow.py
  docs/tutorials/search-logs/index.md
Due: ruff-format, vermin, ruff, mypy, cbfmt

colour code according to language, reformat comments for improved readability
  docs/tutorials/search-logs/dataflow.py
  docs/tutorials/search-logs/index.md
Due: ruff-format, vermin, ruff, mypy, cbfmt

Adds a way to link to files in the public repo from docs retaining the current version
  docs/conf.py
  docs/guide/contributing/writing-docs.md
Due: ruff-format, vermin, ruff, mypy, cbfmt

Note some details
  docs/guide/contributing/writing-docs.md
Due: cbfmt

replace <h1> headings with #
  docs/tutorials/search-logs/index.md
Due: cbfmt
