Repository bytewax/bytewax: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, vermin, ruff, mypy, cbfmt

ruff-format:
  name: format Python
  language: system
  entry: hatch fmt --formatter

vermin:
  name: check compatible with Python 3.8
  language: system
  entry: hatch run lint:vermin

ruff:
  name: lint Python
  language: system
  entry: hatch fmt --linter

mypy:
  name: typecheck Python
  language: system
  entry: hatch run lint:mypy

cbfmt:
  name: format Markdown code blocks
  language: system
  entry: hatch run lint:cbfmt -w

Renames windowing operator test files
  pytests/operators/windowing/test_collect_window.py
  pytests/operators/windowing/test_count_window.py
  pytests/operators/windowing/test_event_clock.py
  pytests/operators/windowing/test_fold_window.py
  pytests/operators/windowing/test_max_min_window.py
  pytests/operators/windowing/test_reduce_window.py
  pytests/operators/windowing/test_session_windower.py
  pytests/operators/windowing/test_sliding_windower.py
  pytests/operators/windowing/test_system_clock.py
Due: ruff-format, vermin, ruff, mypy

Better typing on `merge`
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

Add devenv stuff to .gitignore
  .gitignore
Due: none

Remove jsonpickle dependency.
  pyproject.toml
  pysrc/bytewax/_bytewax.pyi
  pysrc/bytewax/operators/windowing.py
  pysrc/bytewax/serde.py
  src/pyo3_extensions.rs
  src/recovery.rs
  src/serde.rs
Due: ruff-format, vermin, ruff, mypy

Use bytewax.serde.Serde impl for exchanging data.
  pysrc/bytewax/_bytewax.pyi
  pysrc/bytewax/run.py
  pysrc/bytewax/serde.py
  pysrc/bytewax/testing.py
  src/pyo3_extensions.rs
  src/recovery.rs
  src/serde.rs
Due: ruff-format, vermin, ruff, mypy

Use custom Serde classes for recovery and exchange.
  pysrc/bytewax/_bytewax.pyi
  pysrc/bytewax/run.py
  pysrc/bytewax/serde.py
  pysrc/bytewax/testing.py
  pytests/conftest.py
  pytests/test_recovery.py
  src/lib.rs
  src/pyo3_extensions.rs
  src/recovery.rs
  src/serde.rs
Due: ruff-format, vermin, ruff, mypy

Default serde to PickleSerde.
  pysrc/bytewax/run.py
  pysrc/bytewax/testing.py
  pytests/conftest.py
  src/serde.rs
Due: ruff-format, vermin, ruff, mypy

Add in example that uses msgspec.
  examples/msgspec_serde.py
Due: ruff-format, vermin, ruff, mypy

Add more documentation.
  pysrc/bytewax/serde.py
  src/recovery.rs
  src/serde.rs
Due: ruff-format, vermin, ruff, mypy

Check in stubgen.
  pysrc/bytewax/_bytewax.pyi
  pysrc/bytewax/serde.py
  src/serde.rs
Due: ruff-format, vermin, ruff, mypy

Include `bytewax.serde` in docs/conf.py
  CHANGELOG.md
  docs/conf.py
  pysrc/bytewax/serde.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

Remove serde test for Python versions < 3.8.
  src/pyo3_extensions.rs
Due: none

Remove the ability to swap out Serde.
  examples/msgspec_serde.py
  pysrc/bytewax/_bytewax.pyi
  pysrc/bytewax/serde.py
  pytests/test_recovery.py
  src/lib.rs
  src/serde.rs
Due: ruff-format, vermin, ruff, mypy

Add in `Serde` and `PickleSerde` to __all__
  pysrc/bytewax/serde.py
Due: ruff-format, vermin, ruff, mypy

Import override from typing_extensions
  pytests/test_recovery.py
Due: ruff-format, vermin, ruff, mypy

Remove serde.py
  pysrc/bytewax/serde.py
  src/lib.rs
  src/pyo3_extensions.rs
  src/recovery.rs
  src/serde.rs
Due: ruff-format, vermin, ruff, mypy

Fix a rebase issue
  pysrc/bytewax/testing.py
Due: ruff-format, vermin, ruff, mypy

Add proper fallback overloads on `join`, `join_name`, and `merge`
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

Adds generics on `Clock` and `Windower` arguments properly
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

Add edge case overloads to `join_window` and `collect_window`
  pysrc/bytewax/operators/__init__.py
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

`SystemClock` does not need generics
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

Turns out `Tuple[V, ...]` means a tuple of some number of `V`s
  pysrc/bytewax/operators/__init__.py
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

Remove one more serde ref
  docs/conf.py
Due: ruff-format, vermin, ruff, mypy

Only import pickle once.
  src/pyo3_extensions.rs
  src/recovery.rs
Due: none

Fix language and formatting in documentation
  docs/guide/concepts/dataflow-programming.md
  docs/guide/concepts/joins.md
  docs/guide/concepts/rescaling.md
  docs/guide/deployment/container.md
  docs/guide/getting-started/polling-input-example.md
  docs/guide/getting-started/simple-example.md
  docs/guide/getting-started/wordcount-example.md
  docs/guide/reference/migration.md
Due: cbfmt

Fix links in documentation
  CONTRIBUTING.md
  docs/guide/contributing/release.md
Due: cbfmt

Some more refactoring
  pysrc/bytewax/testing.py
  pytests/test_recovery.py
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/recovery.rs
Due: ruff-format, vermin, ruff, mypy

Readded snapshot histogram in stateful_batch
  src/operators.rs
Due: none

Moved state managers in operators' modules
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/recovery.rs
Due: none

Some more refactoring
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/recovery.rs
  src/worker.rs
Due: none

Updated stubs
  pysrc/bytewax/_bytewax.pyi
Due: none

Added an initial dataflow to exchange resume epoch between workers
  pytests/operators/test_stateful.py
  src/inputs.rs
  src/operators.rs
  src/recovery.rs
  src/worker.rs
Due: ruff-format, vermin, ruff, mypy

Advanced recovery
  examples/basic.py
  pysrc/bytewax/_bytewax.pyi
  pysrc/bytewax/backup.py
  pysrc/bytewax/recovery.py
  pysrc/bytewax/run.py
  pysrc/bytewax/testing.py
  pysrc/bytewax/visualize.py
  pytests/conftest.py
  pytests/test_parse.py
  pytests/test_recovery.py
  src/dataflow.rs
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/recovery.rs
  src/timely.rs
  src/worker.rs
Due: ruff-format, vermin, ruff, mypy

Refactoring, renamed some structs
  examples/basic.py
  pysrc/bytewax/backup.py
  pysrc/bytewax/testing.py
  src/inputs.rs
  src/outputs.rs
  src/recovery.rs
  src/worker.rs
Due: ruff-format, vermin, ruff, mypy

Fixes in snapshots query, added a test
  pytests/operators/test_stateful.py
  src/operators.rs
  src/recovery.rs
Due: ruff-format, vermin, ruff, mypy

Fix formatting
  src/timely.rs
Due: none

Allows using `timedelta.max` as `wait_for_system_duration`
  pysrc/bytewax/operators/windowing.py
  pytests/operators/windowing/test_event_clock.py
Due: ruff-format, vermin, ruff, mypy

`window` operator now buffers items to play them in timestamp order
  CHANGELOG.md
  pysrc/bytewax/operators/windowing.py
  pytests/operators/windowing/test_collect_window.py
  pytests/operators/windowing/test_session_windower.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

Allow disabling ordered mode for performance
  pysrc/bytewax/operators/windowing.py
  pytests/operators/windowing/test_fold_window.py
Due: ruff-format, vermin, ruff, mypy

CI fixes
  pysrc/bytewax/_bytewax.pyi
  pytests/operators/test_stateful.py
Due: ruff-format, vermin, ruff, mypy

Path conditions:
  ruff-format: any of: \.py$
  vermin: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  cbfmt: any of: \.(md|markdown|mdown)$
