Repository bytewax/bytewax: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, vermin, ruff, mypy, cbfmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: ruff-format
        name: "format Python"
        language: system
        types: ["python"]
        entry: "hatch fmt --formatter"
      - id: vermin
        name: "check compatible with Python 3.8"
        language: system
        types: ["python"]
        entry: "hatch run lint:vermin"
      - id: ruff
        name: "lint Python"
        language: system
        types: ["python"]
        entry: "hatch fmt --linter"
      - id: mypy
        name: "typecheck Python"
        language: system
        types: ["python"]
        entry: "hatch run lint:mypy"
      - id: cbfmt
        name: "format Markdown code blocks"
        language: system
        types: ["markdown"]
        entry: "hatch run lint:cbfmt -w"
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: "format Rust"
      - id: clippy
        name: "lint Rust"

Don't use deprecated `*_bound` calls
  src/dataflow.rs
  src/errors.rs
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/pyo3_extensions.rs
  src/recovery.rs
  src/run.rs
  src/webserver/mod.rs
Due: none

Migrates to new PyO3 conversion traits
  src/dataflow.rs
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/pyo3_extensions.rs
  src/recovery.rs
Due: none

`TdPyAny` is now `Clone` via `Arc`
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/pyo3_extensions.rs
  src/recovery.rs
  src/run.rs
Due: none

Fixes deprecation on implicit trailing `None` default args
  src/recovery.rs
  src/tracing/mod.rs
Due: none

Fixes some other rename deprecations
  src/errors.rs
  src/inputs.rs
  src/operators.rs
Due: none

Removes a use of `GilOnceCell` that doesn't need GIL
  src/recovery.rs
  src/worker.rs
Due: none

`TdPyAny` is no longer `PartialEq`; not used
  src/pyo3_extensions.rs
Due: none

Uses easier conversion method
  src/dataflow.rs
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
Due: none

Migrates some other old gilref uses to `Bound`
  src/dataflow.rs
  src/operators.rs
Due: none

Make `wrap_key` get GIL in batches
  src/operators.rs
Due: none

Clippy fixes
  src/pyo3_extensions.rs
Due: none

Change shield style
  README.md
Due: cbfmt

Bump `upload-artifact` CI action to v4
  .github/workflows/CI.yml
Due: none

Unique artifact names and merge on download
  .github/workflows/CI.yml
Due: none

Improve the (batch_async) function to ensure robust resource management
  pysrc/bytewax/inputs.py
Due: ruff-format, vermin, ruff, mypy

finally block is improperly indented fix
  pysrc/bytewax/inputs.py
Due: ruff-format, vermin, ruff, mypy

indent error fix
  pysrc/bytewax/inputs.py
Due: ruff-format, vermin, ruff, mypy

indendation error fix
  pysrc/bytewax/inputs.py
Due: ruff-format, vermin, ruff, mypy

block scope formatting
  pysrc/bytewax/inputs.py
Due: ruff-format, vermin, ruff, mypy

test
  pysrc/bytewax/inputs.py
Due: ruff-format, vermin, ruff, mypy

Update inputs.py
  pysrc/bytewax/inputs.py
Due: ruff-format, vermin, ruff, mypy

Update README.md
  README.md
Due: cbfmt

Move `bytewax.operators.windowing` to `bytewax.windowing`
  docs/guide/concepts/dataflow-programming.md
  docs/guide/concepts/joins.md
  docs/guide/concepts/windowing.md
  docs/guide/getting-started/collecting-windowing-example.md
  docs/tutorials/introducing-windowing/index.md
  docs/tutorials/introducing-windowing/session_dataflow.py
  docs/tutorials/introducing-windowing/sliding_dataflow.py
  docs/tutorials/introducing-windowing/tumbling_dataflow.py
  docs/tutorials/profiling-time-series-data/index.md
  docs/tutorials/profiling-time-series-data/timeseries_dataflow.py
  docs/tutorials/search-logs/dataflow.py
  docs/tutorials/search-logs/index.md
  examples/benchmark_windowing.py
  examples/confluent_serde.py
  examples/event_time_processing.py
  examples/redpanda_serde.py
  examples/search_session.py
  examples/wikistream.py
  pysrc/bytewax/operators/__init__.py
  pysrc/bytewax/windowing.py
  pytests/operators/windowing/test_collect_window.py
  pytests/operators/windowing/test_count_window.py
  pytests/operators/windowing/test_event_clock.py
  pytests/operators/windowing/test_fold_window.py
  pytests/operators/windowing/test_join_window.py
  pytests/operators/windowing/test_max_min_window.py
  pytests/operators/windowing/test_reduce_window.py
  pytests/operators/windowing/test_session_windower.py
  pytests/operators/windowing/test_sliding_windower.py
  pytests/operators/windowing/test_system_clock.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

Add `bytewax-duckdb`
  examples/duckdb_dataflow.py
  examples/motherduck_dataflow.py
  pyproject.toml
  pysrc/bytewax/duckdb/__init__.py
  pysrc/bytewax/duckdb/operators.py
  pytests/duckdb/test_sink.py
Due: ruff-format, vermin, ruff, mypy

Add `bytewax-rerun`
  examples/rerun/basic.py
  examples/rerun/bytewax_metrics.py
  pyproject.toml
  pysrc/bytewax/rerun/__init__.py
  pysrc/bytewax/rerun/sinks.py
  pytests/rerun/test_sinks.py
Due: ruff-format, vermin, ruff, mypy

Add `bytewax-redis`
  examples/redis/redis_connector.py
  pyproject.toml
  pysrc/bytewax/redis/__init__.py
  pysrc/bytewax/redis/sinks.py
  pysrc/bytewax/redis/sources.py
  pytests/redis/test_redis.py
Due: ruff-format, vermin, ruff, mypy

Add `bytewax-azure-ai-search`
  examples/azure_ai_search/README.md
  examples/azure_ai_search/azure-openai-embedding/connection.py
  examples/azure_ai_search/azure-openai-embedding/dataflow.py
  examples/azure_ai_search/azure-openai-embedding/news_dataclasses.py
  examples/azure_ai_search/haystack-orchestrator/connection.py
  examples/azure_ai_search/haystack-orchestrator/data/news_out.jsonl
  examples/azure_ai_search/haystack-orchestrator/dataflow.py
  examples/azure_ai_search/haystack-orchestrator/indexing.py
  pyproject.toml
  pysrc/bytewax/azure_ai_search/__init__.py
  pysrc/bytewax/azure_ai_search/operators.py
  pytests/azure_ai_search/test_azure_ai_search.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

Add `bytewax-rolling`
  pysrc/bytewax/rolling/__init__.py
  pytests/rolling/test_rolling.py
Due: ruff-format, vermin, ruff, mypy

Add `bytewax-influxdb`
  examples/influxdb/input.py
  examples/influxdb/output.py
  pyproject.toml
  pysrc/bytewax/influxdb/__init__.py
  pytests/influxdb/test_influxdb.py
Due: ruff-format, vermin, ruff, mypy

Add `bytewax-ordering`
  pysrc/bytewax/ordering/__init__.py
  pytests/ordering/test_ordering.py
Due: ruff-format, vermin, ruff, mypy

Add `bytewax-interval`
  pysrc/bytewax/interval/__init__.py
  pytests/interval/test_interval.py
  pytests/interval/test_join_interval.py
Due: ruff-format, vermin, ruff, mypy

Add `bytewax-clickhouse`
  examples/clickhouse/metrics.py
  pyproject.toml
  pysrc/bytewax/clickhouse/__init__.py
  pysrc/bytewax/clickhouse/operators.py
Due: ruff-format, vermin, ruff, mypy

Add `bytewax-timers`
  pysrc/bytewax/timers/__init__.py
  pytests/timers/test_timers.py
Due: ruff-format, vermin, ruff, mypy

Add `bytewax-select-timerange`
  pysrc/bytewax/select_timerange/__init__.py
  pytests/select_timerange/test_select_timerange.py
Due: ruff-format, vermin, ruff, mypy

Add `bytewax-stateful-timeout`
  pysrc/bytewax/stateful_timeout/__init__.py
  pytests/stateful_timeout/test_bytewax_stateful_timeout.py
Due: ruff-format, vermin, ruff, mypy

Fix types for Py 3.8
  examples/influxdb/output.py
  examples/redis/redis_connector.py
  examples/rerun/basic.py
  pysrc/bytewax/redis/sinks.py
  pysrc/bytewax/redis/sources.py
  pysrc/bytewax/rerun/sinks.py
  pytests/redis/test_redis.py
Due: ruff-format, vermin, ruff, mypy

Update lockfiles
  Cargo.lock
  justfile
  pyproject.toml
  requirements/build-py3.10.txt
  requirements/build-py3.11.txt
  requirements/build-py3.12.txt
  requirements/build-py3.8.txt
  requirements/build-py3.9.txt
  requirements/dev.in
  requirements/dev.txt
  requirements/doc.txt
  requirements/lib-py3.10.txt
  requirements/lib-py3.11.txt
  requirements/lib-py3.12.txt
  requirements/lib-py3.8.txt
  requirements/lib-py3.9.txt
Due: none

Bumps version to 0.22
  Cargo.toml
Due: none

Rerun sink has max version
  pyproject.toml
  pysrc/bytewax/redis/sources.py
  requirements/dev.txt
  requirements/lib-py3.10.txt
  requirements/lib-py3.11.txt
  requirements/lib-py3.12.txt
  requirements/lib-py3.8.txt
  requirements/lib-py3.9.txt
Due: ruff-format, vermin, ruff, mypy
