Repository bytewax/bytewax: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, vermin, ruff, mypy, cbfmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: ruff-format
        name: "format Python"
        language: system
        types: ["python"]
        entry: "hatch fmt --formatter"
      - id: vermin
        name: "check compatible with Python 3.8"
        language: system
        types: ["python"]
        entry: "hatch run lint:vermin"
      - id: ruff
        name: "lint Python"
        language: system
        types: ["python"]
        entry: "hatch fmt --linter"
      - id: mypy
        name: "typecheck Python"
        language: system
        types: ["python"]
        entry: "hatch run lint:mypy"
      - id: cbfmt
        name: "format Markdown code blocks"
        language: system
        types: ["markdown"]
        entry: "hatch run lint:cbfmt -w"
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: "format Rust"
      - id: clippy
        name: "lint Rust"

reference code
  docs/tutorials/orderbook-guide/index.md
  docs/tutorials/orderbook-guide/orderbook_dataflow.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

`fold_window` missing operator annotation
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

Spellcheck
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

Changes inner window operator name
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

Updates changelog
  CHANGELOG.md
Due: cbfmt

populate guide
  docs/tutorials/orderbook-guide/index.md
  docs/tutorials/orderbook-guide/orderbook_dataflow.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

Fix xrefs in windowing docs
  docs/guide/concepts/windowing.md
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

Properly type hints Kafka serialization
  pysrc/bytewax/connectors/kafka/operators.py
Due: ruff-format, vermin, ruff, mypy

Update docs/guide/concepts/windowing.md
  docs/guide/concepts/windowing.md
Due: cbfmt

Unwraps Kafka type aliases to make it explicit what each supports
  pysrc/bytewax/connectors/kafka/__init__.py
  pysrc/bytewax/connectors/kafka/operators.py
Due: ruff-format, vermin, ruff, mypy

Spellcheck
  pysrc/bytewax/connectors/kafka/__init__.py
  pysrc/bytewax/connectors/kafka/operators.py
Due: ruff-format, vermin, ruff, mypy

finalize guide
  docs/tutorials/orderbook-guide/index.md
  docs/tutorials/orderbook-guide/orderbook_dataflow.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

fix operator reference
  docs/tutorials/orderbook-guide/index.md
Due: cbfmt

init guide migration missing values
  docs/tutorials/handling-missing-data/index.md
  docs/tutorials/handling-missing-data/mermaid.png
  docs/tutorials/handling-missing-data/missing_data_dataflow.py
  docs/tutorials/handling-missing-data/missing_values.svg
  docs/tutorials/index.md
Due: ruff-format, vermin, ruff, mypy, cbfmt

Refactoring: Moved buffers and snapshots management inside state objects
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/recovery.rs
Due: none

Updated references to recovery guide
  pysrc/bytewax/run.py
  src/recovery.rs
Due: ruff-format, vermin, ruff, mypy

Disabled writing execution info before first snapshot, TODO
  src/recovery.rs
  src/worker.rs
Due: none

finalize guide
  docs/tutorials/handling-missing-data/index.md
  requirements/doctest.in
Due: cbfmt

Apply suggestions from code review
  docs/tutorials/orderbook-guide/index.md
Due: cbfmt

reword mapper function purpose
  docs/tutorials/orderbook-guide/index.md
Due: cbfmt

add requirements
  requirements/build-py3.10.txt
  requirements/build-py3.11.txt
  requirements/build-py3.12.txt
  requirements/build-py3.8.txt
  requirements/build-py3.9.txt
  requirements/dev.txt
  requirements/doc.txt
  requirements/lib-py3.10.txt
  requirements/lib-py3.11.txt
  requirements/lib-py3.12.txt
  requirements/lib-py3.8.txt
  requirements/lib-py3.9.txt
Due: none

fix directive bug
  docs/tutorials/handling-missing-data/index.md
Due: cbfmt

add doctest section
  docs/guide/contributing/local-development.md
Due: cbfmt

Lint fixes
  pysrc/bytewax/_bytewax.pyi
  pysrc/bytewax/testing.py
  pytests/conftest.py
  pytests/test_recovery.py
Due: ruff-format, vermin, ruff, mypy

Fixed preemptive frontier writing
  src/recovery.rs
  src/worker.rs
Due: none

Fixed 2 bugs for full_resume
  pysrc/bytewax/backup.py
  src/recovery.rs
Due: ruff-format, vermin, ruff, mypy

reference api docs
  docs/tutorials/handling-missing-data/index.md
Due: cbfmt

add mermaid graph, slight reword
  docs/tutorials/handling-missing-data/index.md
Due: cbfmt

fix reference to docs
  docs/tutorials/handling-missing-data/index.md
Due: cbfmt

fix {py:obj}reference
  docs/tutorials/handling-missing-data/index.md
Due: cbfmt

Fix issue with `SlidingWindower` assigning to too many windows
  CHANGELOG.md
  pysrc/bytewax/operators/windowing.py
  pytests/operators/windowing/test_sliding_windower.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

Apply suggestions from code review
  docs/tutorials/handling-missing-data/index.md
  docs/tutorials/handling-missing-data/missing_data_dataflow.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

correct mermaid graph
  docs/tutorials/handling-missing-data/index.md
Due: cbfmt

fix linting
  docs/tutorials/handling-missing-data/missing_data_dataflow.py
Due: ruff-format, vermin, ruff, mypy

fix imputer reference
  docs/tutorials/handling-missing-data/missing_data_dataflow.py
Due: ruff-format, vermin, ruff, mypy

replace #execution-model for #xref-execution-model
  docs/tutorials/handling-missing-data/index.md
Due: cbfmt

Get Sphinx `html_baseurl` from RTD env var
  docs/conf.py
Due: ruff-format, vermin, ruff, mypy

remove duplicate explanation
  docs/tutorials/handling-missing-data/index.md
Due: cbfmt

fix stateful operator wording
  docs/tutorials/handling-missing-data/index.md
Due: cbfmt
