Repository bytewax/bytewax: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, vermin, ruff, mypy, cbfmt

ruff-format:
  name: format Python
  language: system
  entry: hatch fmt --formatter

vermin:
  name: check compatible with Python 3.8
  language: system
  entry: hatch run lint:vermin

ruff:
  name: lint Python
  language: system
  entry: hatch fmt --linter

mypy:
  name: typecheck Python
  language: system
  entry: hatch run lint:mypy

cbfmt:
  name: format Markdown code blocks
  language: system
  entry: hatch run lint:cbfmt -w

Return the panic error from `cluster_main`
  pysrc/bytewax/errors.py
  pytests/connectors/test_kafka.py
  pytests/test_execution.py
  src/run.rs
Due: ruff-format, vermin, ruff, mypy

Walk through each event and how it changes the watermark state
  docs/guide/concepts/windowing.md
Due: cbfmt

feat: enable dynamic max_size for collect operator
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

chore: update type annotation
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

join_window: honor EventClock's now_getter.
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

Prevent `EventClock`'s internal system time from going backwards
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

Updates changelog
  CHANGELOG.md
Due: cbfmt

join_window: `EventClock` shim pass `now_getter` and `to_system_utc`.
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

join_window: shim through `ordered`.
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

Introducing Bytewax Guru on Gurubase.io
  README.md
Due: cbfmt

Adding kafka dependencies to bytewax installation in docker images
  Dockerfile.release
Due: none

Add Confluent Documentation
  docs/guide/concepts/confluent.md
Due: cbfmt

windowing tutorial data
  docs/tutorials/introducing-windowing/normalized_inventory.csv
  docs/tutorials/introducing-windowing/smoothie_order_l.csv
Due: none

count_window code snippet
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

add collect_window operator example
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

add fold_window example
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

reword collect window example
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

init windowing tutorial
  docs/tutorials/index.md
  docs/tutorials/introducing-windowing/index.md
Due: cbfmt

add title windowing tutorial
  docs/tutorials/introducing-windowing/index.md
Due: cbfmt

initialize dataflow and tutorial
  docs/tutorials/introducing-windowing/index.md
  docs/tutorials/introducing-windowing/smoothie-orders.svg
  docs/tutorials/introducing-windowing/windowing_dataflow.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

add counting orders with tumbling windower to tutorial
  docs/tutorials/introducing-windowing/index.md
  docs/tutorials/introducing-windowing/windowing_dataflow.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

fix linting
  docs/tutorials/introducing-windowing/windowing_dataflow.py
Due: ruff-format, vermin, ruff, mypy

finalize tutorial
  docs/tutorials/introducing-windowing/index.md
  docs/tutorials/introducing-windowing/session_dataflow.py
  docs/tutorials/introducing-windowing/sliding_dataflow.py
  docs/tutorials/introducing-windowing/tumbling_dataflow.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

update thumbnail windowing tutorial
  docs/tutorials/introducing-windowing/index.md
  docs/tutorials/introducing-windowing/normalized_inventory.csv
  docs/tutorials/introducing-windowing/smoothie-orders.svg
  docs/tutorials/introducing-windowing/windowing-smoothie.svg
Due: cbfmt

specify am or pm time in tutorial
  docs/tutorials/introducing-windowing/index.md
Due: cbfmt

Bumps version number
  Cargo.lock
  Cargo.toml
Due: none

Adding missing python version 3.12 on CD
  .github/workflows/CD.yml
Due: none

Adding missing space in array
  .github/workflows/CD.yml
Due: none

refactor readme
  README.md
Due: cbfmt

center logo
  README.md
Due: cbfmt

revert centering
  README.md
Due: cbfmt

iteration one centering badges
  README.md
Due: cbfmt

add centering to icons
  README.md
Due: cbfmt

Tweak join example docs, fix README link in Contributing
  CONTRIBUTING.md
  docs/guide/getting-started/join-example.md
Due: cbfmt

Remove unused import, align worker example, add cbfmt install docs
  docs/guide/contributing/local-development.md
  docs/guide/getting-started/execution.md
  docs/guide/getting-started/join-example.md
Due: cbfmt

Bump CodSpeed version
  .github/workflows/benches.yml
Due: none

Bump PyO3
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  ruff-format: any of: \.py$
  vermin: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  cbfmt: any of: \.(md|markdown|mdown)$
