Repository bytewax/bytewax: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, vermin, ruff, mypy, cbfmt

ruff-format:
  name: format Python
  language: system
  entry: hatch fmt --formatter

vermin:
  name: check compatible with Python 3.8
  language: system
  entry: hatch run lint:vermin

ruff:
  name: lint Python
  language: system
  entry: hatch fmt --linter

mypy:
  name: typecheck Python
  language: system
  entry: hatch run lint:mypy

cbfmt:
  name: format Markdown code blocks
  language: system
  entry: hatch run lint:cbfmt -w

Clarify join named examples in migration guide.
  docs/guide/reference/migration.md
Due: cbfmt

Fixes for re-joining `WindowMetadata`
  CHANGELOG.md
  docs/guide/concepts/joins.md
  pysrc/bytewax/operators/__init__.py
  pysrc/bytewax/operators/windowing.py
  pytests/operators/test_join.py
  pytests/operators/windowing/test_join_window.py
  pytests/operators/windowing/test_session_windower.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

Type check `{insert,emit}_mode` during dataflow construction
  pysrc/bytewax/operators/__init__.py
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

Test `"first"` mode
  pytests/operators/test_join.py
  pytests/operators/windowing/test_join_window.py
Due: ruff-format, vermin, ruff, mypy

Use 'target' and 'original' language; fix xref
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

Update examples to use typed dataflows.
  docs/guide/reference/migration.md
Due: cbfmt

Apply suggestions from code review
  docs/guide/reference/migration.md
Due: cbfmt

Update docs/guide/reference/migration.md
  docs/guide/reference/migration.md
Due: cbfmt

Fix {py:obj} xrefs
  docs/guide/reference/migration.md
Due: cbfmt

Bump version to v0.20.0
  Cargo.lock
  Cargo.toml
  docs/guide/reference/migration.md
Due: cbfmt

Fix watermark assertion errors with `EventClock`
  CHANGELOG.md
  pysrc/bytewax/operators/windowing.py
  pytests/operators/windowing/test_event_clock.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

Prep for v0.21.1 release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cbfmt

Add code block captions in the release steps to explain where to make changes
  docs/guide/contributing/release.md
Due: cbfmt

Missing link bracket
  docs/guide/contributing/release.md
Due: cbfmt

Only call `notify_at` on keys awoken that activation
  src/operators.rs
Due: none

Updates changelog
  CHANGELOG.md
Due: cbfmt

Add xrefs to visualization API docs
  docs/guide/getting-started/debugging.md
  pysrc/bytewax/visualize.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

Adds a `TestingSource.PAUSE` special item
  pysrc/bytewax/testing.py
Due: ruff-format, vermin, ruff, mypy

Add `PAUSE` to type hints
  pysrc/bytewax/testing.py
Due: ruff-format, vermin, ruff, mypy

input state refactoring
  src/inputs.rs
  src/recovery.rs
  src/worker.rs
Due: none

output state refactoring
  src/inputs.rs
  src/outputs.rs
  src/recovery.rs
  src/worker.rs
Due: none

stateful_batch state refactoring
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/worker.rs
Due: none

Various fixes
  pysrc/bytewax/_bytewax.pyi
  pysrc/bytewax/run.py
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/recovery.rs
  src/worker.rs
Due: ruff-format, vermin, ruff, mypy

Comment on how `final` operators can't be used on infinite streams
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

Use the new architecture (PR fixes)
  examples/advanced_recovery.py
  pysrc/bytewax/_bytewax.pyi
  pysrc/bytewax/recovery.py
  pysrc/bytewax/run.py
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/recovery.rs
  src/run.rs
  src/worker.rs
Due: ruff-format, vermin, ruff, mypy

Fixed cli argument, refactoring, reintroduced metrics
  pysrc/bytewax/recovery.py
  pysrc/bytewax/run.py
  pysrc/bytewax/testing.py
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/recovery.rs
  src/worker.rs
Due: ruff-format, vermin, ruff, mypy

Started fixing tests and issues
  pysrc/bytewax/_bytewax.pyi
  pytests/conftest.py
  pytests/operators/test_stateful.py
  pytests/test_recovery.py
  pytests/test_testing.py
  src/operators.rs
  src/recovery.rs
Due: ruff-format, vermin, ruff, mypy

Fixes, all tests passing aside from rescaling, marked xfail for now
  examples/advanced_recovery.py
  pysrc/bytewax/_bytewax.pyi
  pysrc/bytewax/backup.py
  pysrc/bytewax/run.py
  pysrc/bytewax/testing.py
  pytests/conftest.py
  pytests/test_recovery.py
  pytests/test_testing.py
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/recovery.rs
  src/worker.rs
Due: ruff-format, vermin, ruff, mypy

SnapshotMode info is only needed in LocalStateStore
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/recovery.rs
  src/worker.rs
Due: none

Register builders in StateStoreCache
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/recovery.rs
  src/worker.rs
Due: none

trigger tests
  docs/tutorials/search-logs/dataflow.py
Due: ruff-format, vermin, ruff, mypy

Apply suggestions from code review
  docs/tutorials/search-logs/index.md
Due: cbfmt

add image
  docs/tutorials/search-logs/index.md
  docs/tutorials/search-logs/search_logs.svg
Due: cbfmt

Fixed one last bug in input source
  examples/advanced_recovery.py
  pytests/test_recovery.py
  pytests/test_testing.py
  src/inputs.rs
  src/worker.rs
Due: ruff-format, vermin, ruff, mypy

Write first frontier info before starting dataflow, to allow resume on crash before first epoch ends
  pytests/test_recovery.py
  src/outputs.rs
  src/worker.rs
Due: ruff-format, vermin, ruff, mypy

Some more fixes and minor refactoring
  pytests/test_recovery.py
  src/inputs.rs
  src/operators.rs
  src/recovery.rs
Due: ruff-format, vermin, ruff, mypy

Using buffers to avoid lots of allocations
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
Due: none

Some more fixes
  docs/guide/getting-started/recovery-example.md
  pysrc/bytewax/_bytewax.pyi
  pysrc/bytewax/run.py
  pytests/conftest.py
  src/recovery.rs
Due: ruff-format, vermin, ruff, mypy, cbfmt

init order book guide migration
  docs/tutorials/orderbook_guide/orderbook_dataflow.py
Due: ruff-format, vermin, ruff, mypy

init order book guide migration
  docs/tutorials/index.md
  docs/tutorials/orderbook-guide/index.md
  docs/tutorials/orderbook-guide/orderbook_dataflow.py
  docs/tutorials/orderbook-guide/thumbnail.svg
Due: ruff-format, vermin, ruff, mypy, cbfmt

Path conditions:
  ruff-format: any of: \.py$
  vermin: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  cbfmt: any of: \.(md|markdown|mdown)$
