Repository bytewax/bytewax: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, vermin, ruff, mypy, cbfmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: ruff-format
        name: "format Python"
        language: system
        types: ["python"]
        entry: "hatch fmt --formatter"
      - id: vermin
        name: "check compatible with Python 3.8"
        language: system
        types: ["python"]
        entry: "hatch run lint:vermin"
      - id: ruff
        name: "lint Python"
        language: system
        types: ["python"]
        entry: "hatch fmt --linter"
      - id: mypy
        name: "typecheck Python"
        language: system
        types: ["python"]
        entry: "hatch run lint:mypy"
      - id: cbfmt
        name: "format Markdown code blocks"
        language: system
        types: ["markdown"]
        entry: "hatch run lint:cbfmt -w"
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        name: "format Rust"
      - id: clippy
        name: "lint Rust"

replace expand with dropdown
  docs/tutorials/search-logs/index.md
Due: cbfmt

reference api docs
  docs/tutorials/search-logs/index.md
Due: cbfmt

remove stray tag
  docs/tutorials/search-logs/index.md
Due: cbfmt

remove caption from index
  docs/tutorials/index.md
Due: cbfmt

remove xref
  docs/tutorials/search-logs/index.md
Due: cbfmt

remove html table - replace with md
  docs/tutorials/search-logs/index.md
Due: cbfmt

replace github logo
  docs/tutorials/search-logs/index.md
Due: cbfmt

remove extra blank space
  docs/tutorials/search-logs/dataflow.py
Due: ruff-format, vermin, ruff, mypy

remove <p> tags
  docs/tutorials/search-logs/index.md
Due: cbfmt

fix linting
  docs/tutorials/search-logs/dataflow.py
  docs/tutorials/search-logs/index.md
Due: ruff-format, vermin, ruff, mypy, cbfmt

remove dropdown
  docs/tutorials/search-logs/index.md
Due: cbfmt

reorder tutorial
  docs/tutorials/search-logs/dataflow.py
  docs/tutorials/search-logs/index.md
Due: ruff-format, vermin, ruff, mypy, cbfmt

add version
  docs/tutorials/search-logs/index.md
Due: cbfmt

replace :lineno-match:
  docs/tutorials/search-logs/index.md
Due: cbfmt

Apply suggestions from code review
  pysrc/bytewax/backup.py
  pysrc/bytewax/run.py
  pysrc/bytewax/testing.py
Due: ruff-format, vermin, ruff, mypy

replace version
  docs/tutorials/search-logs/index.md
Due: cbfmt

Join mode default now typechecks
  pysrc/bytewax/operators/__init__.py
  pysrc/bytewax/operators/windowing.py
  pytests/operators/test_join.py
  pytests/operators/windowing/test_join_window.py
Due: ruff-format, vermin, ruff, mypy

add path suggestion
  docs/tutorials/search-logs/index.md
Due: cbfmt

fix capitalization
  docs/tutorials/search-logs/index.md
Due: cbfmt

remove extra trailing lines
  docs/tutorials/search-logs/dataflow.py
Due: ruff-format, vermin, ruff, mypy

correct clock definition and usage
  docs/tutorials/search-logs/index.md
Due: cbfmt

remove end tag
  docs/tutorials/search-logs/index.md
Due: cbfmt

Update examples for release.
  examples/batch_operator.py
  examples/benchmark_windowing.py
  examples/confluent_serde.py
  examples/event_time_processing.py
  examples/join.py
  examples/partials.py
  examples/redpanda_serde.py
  examples/search_session.py
  examples/split_demo.py
Due: ruff-format, vermin, ruff, mypy

Fix redpanda serde example
  examples/redpanda_serde.py
Due: ruff-format, vermin, ruff, mypy

Update docs/guide/reference/migration.md
  docs/guide/reference/migration.md
Due: cbfmt

Prepare for v0.20.0
  CHANGELOG.md
  docs/guide/reference/migration.md
  justfile
Due: cbfmt

Remove skips
  docs/guide/contributing/release.md
  docs/guide/reference/migration.md
Due: cbfmt

Demonstrate returning the old format with `join`
  docs/guide/reference/migration.md
Due: cbfmt

Apply suggestions from code review
  docs/guide/reference/migration.md
Due: cbfmt

Fix whitespace
  docs/guide/reference/migration.md
Due: cbfmt

Update migration join example
  docs/guide/reference/migration.md
Due: cbfmt

Add section on removal of join_named et al
  docs/guide/reference/migration.md
Due: cbfmt
