Repository bytewax/bytewax: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, vermin, ruff, mypy, cbfmt

ruff-format:
  name: format Python
  language: system
  entry: hatch fmt --formatter

vermin:
  name: check compatible with Python 3.8
  language: system
  entry: hatch run lint:vermin

ruff:
  name: lint Python
  language: system
  entry: hatch fmt --linter

mypy:
  name: typecheck Python
  language: system
  entry: hatch run lint:mypy

cbfmt:
  name: format Markdown code blocks
  language: system
  entry: hatch run lint:cbfmt -w

Forgot one
  .github/workflows/CI.yml
Due: none

Disable doc tests for now until fixed
  justfile
Due: none

Go back to maturin-action
  .github/workflows/CI.yml
Due: none

Do we need... .s?
  .github/workflows/CI.yml
Due: none

Make just fmt-* variadic
  justfile
Due: none

Typos
  docs/guide/contributing/local-development.md
  docs/guide/contributing/release.md
  docs/guide/contributing/writing-docs.md
Due: cbfmt

Fixes headings
  CONTRIBUTING.md
Due: cbfmt

Use just for pre-commit
  .pre-commit-config.yaml
Due: none

Forgot to update benches
  .github/workflows/benches.yml
Due: none

What if we follow the instructions?
  .github/workflows/CI.yml
Due: none

Enables frame-pointers in prod builds so we can profile immediately
  .github/workflows/CI.yml
  docs/guide/contributing/profiling.md
  justfile
Due: cbfmt

Rename `test-py*` to `build-py*` since it's for building
  requirements/build-py3.10.txt
  requirements/build-py3.11.txt
  requirements/build-py3.12.txt
  requirements/build-py3.8.txt
  requirements/build-py3.9.txt
  requirements/build.in
  requirements/dev.in
Due: none

CI uses maturin in venvs
  .github/workflows/CI.yml
Due: none

More links
  docs/guide/contributing/local-development.md
Due: cbfmt

Update justfile
  justfile
Due: none

Renames repo-tests in CI to repo-checks
  .github/workflows/CI.yml
  justfile
Due: none

Update docs/guide/getting-started/execution.md
  docs/guide/getting-started/execution.md
Due: cbfmt

Update overview.md
  docs/guide/deployment/overview.md
Due: cbfmt

Update execution.md
  docs/guide/getting-started/execution.md
Due: cbfmt

fix whitespace
  docs/guide/getting-started/execution.md
Due: cbfmt

missed quotes
  docs/guide/getting-started/execution.md
Due: cbfmt

Fix prometheus scrape endpoint
  examples/wikistream.py
  src/webserver/mod.rs
Due: ruff-format, vermin, ruff, mypy

Include timeouts in ctrl-c test
  pytests/test_execution.py
Due: ruff-format, vermin, ruff, mypy

Use specific triggering errors
  pytests/test_execution.py
Due: ruff-format, vermin, ruff, mypy

Format and lint
  pytests/test_execution.py
Due: ruff-format, vermin, ruff, mypy

Spawn the exact same Python interpreter
  pytests/test_execution.py
Due: ruff-format, vermin, ruff, mypy

Print out stderr and stdout
  pytests/test_execution.py
Due: ruff-format, vermin, ruff, mypy

Repo checks should run under Python 3.12
  .github/workflows/CI.yml
Due: none

Doh just `matrix.target`
  .github/workflows/CI.yml
Due: none

Do we need to install Rust toolchain?
  .github/workflows/CI.yml
Due: none

Run MacOS tests on both arch
  .github/workflows/CI.yml
Due: none

Print out entire subprocess cmd
  src/run.rs
Due: none

Did we get in a strange state? No caching on macs
  .github/workflows/CI.yml
Due: none

Bumps version of cache to not need gnutar
  .github/workflows/CI.yml
Due: none

Updates wikistream example
  examples/wikistream.py
Due: ruff-format, vermin, ruff, mypy

Use pipx to install uv
  .github/workflows/CI.yml
Due: none

Don't run macos tests on x86 since cross compiled
  .github/workflows/CI.yml
Due: none

Implements `bytewax.testing` entry point in Python so we can properly re-use venvs
  pysrc/bytewax/_bytewax.pyi
  pysrc/bytewax/testing.py
  src/run.rs
Due: ruff-format, vermin, ruff, mypy

Tests ctrl-c of all entry points
  pytests/test_execution.py
Due: ruff-format, vermin, ruff, mypy

Updates writing docs guide with how to use Sphinx doctests
  docs/guide/contributing/writing-docs.md
Due: cbfmt

Path conditions:
  ruff-format: any of: \.py$
  vermin: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  cbfmt: any of: \.(md|markdown|mdown)$
