Repository bytewax/bytewax: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, vermin, ruff, mypy, cbfmt

ruff-format:
  name: format Python
  language: system
  entry: hatch fmt --formatter

vermin:
  name: check compatible with Python 3.8
  language: system
  entry: hatch run lint:vermin

ruff:
  name: lint Python
  language: system
  entry: hatch fmt --linter

mypy:
  name: typecheck Python
  language: system
  entry: hatch run lint:mypy

cbfmt:
  name: format Markdown code blocks
  language: system
  entry: hatch run lint:cbfmt -w

fix link
  docs/tutorials/handling-missing-data/index.md
Due: cbfmt

init migration profiling time series
  docs/tutorials/index.md
  docs/tutorials/profiling-time-series-data/index.md
  docs/tutorials/profiling-time-series-data/iot_telemetry_data_1000.csv
  docs/tutorials/profiling-time-series-data/timeseries_dataflow.py
  requirements/dev.txt
  requirements/doctest.in
Due: ruff-format, vermin, ruff, mypy, cbfmt

add title
  docs/tutorials/profiling-time-series-data/index.md
Due: cbfmt

finalize dataflow
  docs/tutorials/profiling-time-series-data/iot_telemetry_data_1000.csv
  docs/tutorials/profiling-time-series-data/timeseries_dataflow.py
  requirements/dev.txt
  requirements/doctest.in
Due: ruff-format, vermin, ruff, mypy

add missing dependencies
  requirements/dev.txt
  requirements/doctest.in
Due: none

finish guide write up
  docs/tutorials/profiling-time-series-data/index.md
  docs/tutorials/profiling-time-series-data/thumbnail.svg
  docs/tutorials/profiling-time-series-data/time-series-profiling.png
  docs/tutorials/profiling-time-series-data/timeseries_dataflow.py
Due: ruff-format, vermin, ruff, mypy, cbfmt

add report screenshot
  docs/tutorials/profiling-time-series-data/index.md
  docs/tutorials/profiling-time-series-data/sample-report.png
Due: cbfmt

recoverable cart guide
  docs/tutorials/recoverable-shopping-cart/cart-join.json
  docs/tutorials/recoverable-shopping-cart/index.md
  docs/tutorials/recoverable-shopping-cart/recoverable_dataflow.py
  docs/tutorials/recoverable-shopping-cart/thumbnail.svg
Due: ruff-format, vermin, ruff, mypy, cbfmt

recoverable cart guide add to index
  docs/tutorials/index.md
Due: cbfmt

add line break end of index file root of tutorials
  docs/tutorials/index.md
Due: cbfmt

Missing import for annotations to parse correctly
  pysrc/bytewax/connectors/kafka/operators.py
Due: ruff-format, vermin, ruff, mypy

Spellcheck
  pysrc/bytewax/inputs.py
Due: ruff-format, vermin, ruff, mypy

Allow `SimplePollingSource` to have basic recovery state
  pysrc/bytewax/inputs.py
  pytests/test_inputs.py
Due: ruff-format, vermin, ruff, mypy

Updates changelog
  CHANGELOG.md
Due: cbfmt

Forgot to export `Sn`
  pysrc/bytewax/inputs.py
Due: ruff-format, vermin, ruff, mypy

Make Sphinx emit entire traceback when building docs
  justfile
Due: none

Working on doc generation as a namespace module
  docs/conf.py
  pysrc/bytewax/__init__.py
Due: ruff-format, vermin, ruff, mypy

Depend on fork of sphinx-autodoc2
  docs/conf.py
  requirements/build-py3.10.txt
  requirements/build-py3.11.txt
  requirements/build-py3.12.txt
  requirements/build-py3.8.txt
  requirements/build-py3.9.txt
  requirements/dev.txt
  requirements/doc.in
  requirements/doc.txt
  requirements/lib-py3.10.txt
  requirements/lib-py3.11.txt
  requirements/lib-py3.12.txt
  requirements/lib-py3.8.txt
  requirements/lib-py3.9.txt
Due: ruff-format, vermin, ruff, mypy

Don't generate hashes for documentation requirements, as VCS requirements can't be checked
  justfile
  pysrc/bytewax/connectors/demo.py
  pysrc/bytewax/connectors/files.py
  pysrc/bytewax/connectors/kafka/__init__.py
  pysrc/bytewax/connectors/kafka/operators.py
  pysrc/bytewax/connectors/stdio.py
  pysrc/bytewax/inputs.py
  pysrc/bytewax/operators/__init__.py
  pysrc/bytewax/operators/windowing.py
  pysrc/bytewax/testing.py
  pysrc/bytewax/visualize.py
  requirements/dev.txt
  requirements/doc.txt
Due: ruff-format, vermin, ruff, mypy

Fix mypy to understand namespace packages
  docs/intersphinxdump.py
  justfile
Due: ruff-format, vermin, ruff, mypy

Update justfile
  justfile
Due: none

Revert imports after fixing mypy namespace detection
  docs/intersphinxdump.py
Due: ruff-format, vermin, ruff, mypy

Prepare for v0.20.2 release
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cbfmt

Bump version to v0.21.0 and update Changelog
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: cbfmt

Add Common Room tracking script to the docs
  docs/_templates/layout.html
Due: none

Fixed bug in TestingSource
  pysrc/bytewax/testing.py
  pytests/operators/test_stateful.py
Due: ruff-format, vermin, ruff, mypy

Removed distinction between immediate/batch mode recovery in tests
  pytests/conftest.py
  pytests/operators/test_stateful.py
  pytests/test_recovery.py
  pytests/test_testing.py
Due: ruff-format, vermin, ruff, mypy

Fixed snap recovery query, fixed frontier writing, fixed compactor and backup operators
  src/recovery.rs
Due: none

Adds documentation about runtime
  docs/guide/concepts/dataflow-programming.md
  docs/guide/concepts/workers-parallelization.md
Due: cbfmt

Typo
  docs/guide/concepts/dataflow-programming.md
Due: cbfmt

Moved LocalStateStore inside StateStoreCache, fixed compactor operator, various PR fixes
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/recovery.rs
  src/worker.rs
Due: none

Hash requirements for docs, pin uv
  .github/workflows/CI.yml
  justfile
  requirements/build-py3.10.txt
  requirements/build-py3.11.txt
  requirements/build-py3.12.txt
  requirements/build-py3.8.txt
  requirements/build-py3.9.txt
  requirements/dev.txt
  requirements/doc.in
  requirements/doc.txt
  requirements/lib-py3.10.txt
  requirements/lib-py3.11.txt
  requirements/lib-py3.12.txt
  requirements/lib-py3.8.txt
  requirements/lib-py3.9.txt
Due: none

Fix typo
  docs/guide/advanced-concepts/custom-connectors.md
Due: cbfmt

More PR fixes
  pysrc/bytewax/_bytewax.pyi
  pysrc/bytewax/recovery.py
  pysrc/bytewax/run.py
  pysrc/bytewax/visualize.py
  pytests/conftest.py
  pytests/test_parse.py
  src/inputs.rs
  src/operators.rs
  src/outputs.rs
  src/recovery.rs
  src/worker.rs
Due: ruff-format, vermin, ruff, mypy

Fix issue where windowing operators in ordered mode do not wake back up to empty the queue
  pysrc/bytewax/operators/windowing.py
Due: ruff-format, vermin, ruff, mypy

add flat_map_batch operator example
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

add input operator example
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

add sample merge operator
  pysrc/bytewax/operators/__init__.py
Due: ruff-format, vermin, ruff, mypy

Path conditions:
  ruff-format: any of: \.py$
  vermin: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  cbfmt: any of: \.(md|markdown|mdown)$
